
output
__pycache__/
output_pipeline.zip

.venv/
.env
temp/
results_saved/

vul_detection/dataset_clean

SC_generation/node_modules/
SC_generation/package-lock.json
SC_generation/package.json
SC_generation/output_temp/

# virtual_env for WSL(Windows Subsystem for Linux), to run gas_analyzer.py
venv/ 