
output
__pycache__/


.venv/
.env
temp/
results_saved/

vul_detection/dataset_clean
vul_detection/datset_try_clean

SC_generation/node_modules/
SC_generation/package-lock.json
SC_generation/package.json
SC_generation/output(1st_)/
SC_generation/output(2nd_)/
temp.py

# different virtual_env to run gas_analyzer.py in WSL(Windows Subsystem for Linux)
venv/ 